name: Price Update Bot

on:
  schedule:
    - cron: "*/10 * * * *"   # Every 10 minutes
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:

      - name: Checkout Repo
        uses: actions/checkout@v4


      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"


      - name: Install Requests
        run: pip install requests


      - name: Run Script
        run: python update_rates.py


      - name: Commit & Push
        run: |
          git config user.name "Auto Bot"
          git config user.email "bot@users.noreply.github.com"

          git add index.html
          git commit -m "Update prices" || exit 0
          git push
